body{
background-color: darkgreen;   
} 

h1{
color: orangered;  
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
font-size: 34px;
}


p{
color: darkgrey;    
}
