* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 html {
    font-size: 62.5%;
  }

  

 body{
    font-family: "Goldman";
    background-color: black;
    background-image: url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
  }

 h1{
    color: aliceblue;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding: 8%;

 } 

 p {
    color: aliceblue;
    font-size: 4rem;
    margin: 10px;
   

 }
 footer{
    width: 100%;
    padding: 2rem;
    min-height: 5vh;
    align-items: center;
    background: #00a8c7;
    font-size: 2rem;
    position: fixed;
    bottom: 0;
    

 }
  
  
  
  nav {
    display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #00a8c7;
    justify-content: space-between;
    position: fixed;
    top: 0;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav img {
    width: 5vw;
  }